.hidden {
  display: none !important;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.row-to-column {
  flex-direction: column;
  align-content: center;
}

.margin-15 {
  margin: 15px;
}

.new-btn {
  color: #fff;
  background-color: #5c636a;
  border-radius: 5px;
  padding: 5px;
  margin-top: 40px;
}

th,
td {
  width: 200px;
  height: 20px;
  border: 1px solid #b2b2b2b3;
}

table {
  border-collapse: collapse;
}

tbody > tr:nth-child(odd) {
  background-color: #dedede;
}

th {
  font-size: small;
  text-align: left;
}

footer {
  font-size: x-small;
  padding-left: 25px;
}

.row-column-modal {
  flex-direction: column;
  align-content: center;
  position: relative;
  background-color: white;
}

.cancel {
  color: #fff;
  background-color: #5c636a;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.confirm {
  color: #fff;
  background-color: #1c8755;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.space-around {
  justify-content: space-around;
  position: relative;
  background-color: white;
}

.overlay {
  background: rgb(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal-container {
  width: 211px;
  padding: 10px;
  margin: 0 auto;
}

.width-90 {
  width: 90%;
}

.margin-top-10 {
  margin-top: 10px;
}

.edit {
  color: #fff;
  background-color: blue;
  padding: 1px 5px;
  border-radius: 5px;
}

.delete {
  color: #fff;
  background-color: red;
  padding: 1px 5px;
  border-radius: 5px;
}
